@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
   background-color: #E9E8E0;
   font-family: 'Italiana', serif;

}

/* First page that loads  */
.page-header {
   text-align: center;
   font-family: 'Italiana', serif;
   color: black;
   font-size: 25px;
   letter-spacing: .2rem;
  




}

.home-page {
   visibility: visible;
   /* display: flex;
   flex-direction: column; */



   /* justify-content: space-evenly; */
   background-color: black;
   position: absolute;
   left: 0px;
   right: 0px;
   top: 140px;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);

}


/* .game-photo {
   flex: 1;
   background-color: gray;
   
} */

.game-photo>img {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 500px;
   width: 1440px;

}



.begin-game {
   background-color: black;
   text-align: center;
   height: 50px;
}

.start-game {
   background-color: #A39B8B;
   color: white;
   height: 50px;
   width: 150px;
   border-radius: 10px;
   font-family: 'Italiana', serif;
   font-size: 20px;
}

.start-game:hover{
   background-color: white;
   color: #A39B8B;;
}

/* Input name for game section */
.container {
   visibility: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   padding: 60px;
   margin: 0;
   top: 30%;
   right: 34%;

   background-color: white;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
   border-radius: 20px;



}

.container>h1 {
   text-align: center;
   padding: 10px;
   font-family: 'Italiana', serif;
}

.player-details>h1 {
   padding: 10px;

}

.player-name {
   margin: 10px;
   width: 200px;
   height: 20px;
   border-radius: 10px;

}

.name-button {
   margin: 20px;
   background-color: black;
   color: white;
   width: 200px;
   border-radius: 10px;
   font-family: 'Italiana', serif;

}

/* Game categories options */
.game-categories {
   visibility: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   padding: 60px;
   margin: 0;
   top: 20%;
   right: 23%;
   background-color: white;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

.game-categories> h1 {
   font-family: 'Italiana', serif;
   font-size: 40px;
} 

.game-categories> h2 {
   color: black;
   border-style: solid;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-color: black;
   font-family: 'Italiana', serif;
}

.categories {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 20px;
   /* justify-content: center; */


}

.column-category {
   background-color: #A39B8B;
   border-radius: 10px;
   color: white;
   height: 200px;
   width: 200px;
   font-size: 20px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-style: solid;
   border-width: 1px;

}

.column-category:hover {
   background-color: white;
   color: #A39B8B;
}



/* Game Container */
.game-container {
   visibility: hidden;
   margin: 10px;
   border-style: solid;
}

.score-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 24px;
   height: 100px;
   /* background-color: white; */
}

.item {
   flex: 1;
   font-size: 25px;
   background-color: black;
   color: white;
   margin-left: 20px;
   margin-right: 20px;
   padding: 20px 20px 20px 20px;
   border-radius: 10px;

}



.game-question {
   /* background-color: gray; */
   color: black;
   font-size: 25px;
   text-align: center;
   height: 50px;
   margin-bottom: 30px;
   font-family: 'Italiana', serif;

}

.images-container {
   /* background-color: white; */
   display: flex;
   height: 400px;
   flex-direction: row;
   justify-content: center;
  
}

.my-img {
   width: 400px;
   height: 300px;
   margin-bottom: 30px;
   border-radius: 10px;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

/* answers container */
.answer-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   /* background-color: aquamarine; */
   gap: 15px;
   height: 75px;
   margin-bottom: 10px;

}

.answers>div {
   flex: 1;
   background-color: #A39B8B;
   color: white;
   margin-left: 20px;
   margin-right: 20px;
   padding: 20px 20px 20px 20px;
   font-size: 30px;
   border-radius: 10px;

   display: flex;
   justify-content: center;
}

.answers>div:hover {
   background-color: white;
   color: #A39B8B;
}