body {
   background-color: antiquewhite;
}

 /* First page that loads  */
 .flex-box{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: aliceblue;
   
 }
 
 .page-header {
    background-color: white;
    text-align: center;
    
 }
.game-photo {
    background-color: gray;
}

 .game-photo > img {
    width: 100%;
    width: 100%

 }



 .begin-game {
    background-color: black;
    text-align: center;
 }

 button .start-game{
    background-color: white;
 }

 /* Input name for game section */
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: fixed;
   padding: 60px;
   margin: 0;
   top: 30%;
   right: 36%;

   background-color: white;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   
   
   
}

h1 {
   text-align: center;
}

.player-name {
   margin: 10px;
   width: 200px;
   height: 20px;

}

.name-button {
   margin: 20px;
   background-color: black;
   color: white;
   width: 200px;
}